<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cursoDAgil.bd.mappers.ProductosMapper">
	<resultMap id="BaseResultMap" type="cursoDAgil.bd.domain.Productos">
		<id column="idProducto" property="idProducto" jdbcType="INTEGER"/>
		<result column="nombre" property="nombre" jdbcType="VARCHAR" />
		<result column="precio" property="precio" jdbcType="INTEGER" />
		<result column="preciaVta" property="precioVta" jdbcType="INTEGER" />
		<result column="cantidad" property="cantidad" jdbcType="INTEGER" />
		<result column="marcaId" property="marcaId" jdbcType="INTEGER" />
	</resultMap>

	<select id="obtenerProductos" resultMap="BaseResultMap">
		SELECT 
		p.idProducto, 
		p.nombre, 
		p.precio, 
		p.precioVta, 
		p.cantidad, 
		p.marcaId, 
		m.idMarca, 
		m.nombreMarca 
		FROM productos p INNER JOIN marcas AS m ON p.marcaId = m.idMarca
	</select>
	
	<insert id="agregarProductos" parameterType="cursoDAgil.bd.domain.Productos" 
	useGeneratedKeys="true" keyProperty="idProducto">
		INSERT INTO productos(nombre, precio, precioVta, cantidad, marcaId)
		VALUES (#{nombre}, #{precio}, #{precioVta}, #{cantidad}, #{marcaId})
	</insert>
	
	<select id="obtenerProductosPorId" resultMap="BaseResultMap" parameterType="hashMap">
		SELECT
		dir.idProducto,
		dir.nombre,
		dir.precio,
		dir.precioVta,
		dir.cantidad,
		dir.marcaId
		FROM
		EQUIPO2.PRODUCTOS dir
		WHERE
		idProducto = #{idProducto}
	</select>
	
	<delete id="eliminarProductoPorId" parameterType="hashMap">
		DELETE FROM productos WHERE idProducto = #{idProducto}
	</delete>
	
	<update id="modificarProducto" parameterType="cursoDAgil.bd.domain.Productos">
		UPDATE productos SET nombre = #{nombre}, precio = #{precio}, precioVta = #{precioVta}, cantidad = #{cantidad} WHERE idProducto = #{idProducto}
	</update>

	
</mapper>
